{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>


{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family: 'Montserrat', sans-serif;">BEAMANT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home" style="font-family: 'Lato', sans-serif;">Home</a></li>
        <li><a <a href="/profile/{{user.id}}" style="font-family: 'Lato', sans-serif;">Profile</a></li>
        <li><a <a href="/docs" style="font-family: 'Lato', sans-serif;">Files</a></li>
        <li><a href="/logout" style="font-family: 'Lato', sans-serif;">Logout</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
      </ul>
      {% endif %}


    </div><!-- /.navbar-collapse -->
  </div>
</nav>
{% endblock %}

<div style="min-height: 90%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;">
{% block page_content %}
{% endblock %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<footer class="bs-docs-footer"> <div class="container"> <p class="text-center" style = "color:#7f8c8d; font-size:90%;">a vidiotic production // © 2016 BEAMANT </p> </div> </footer>
